/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/* @import url('https://use.typekit.net/atg0zvr.css'); */

@import 'tailwindcss';
@import 'tw-animate-css';
@import './themes/light.css';
@import './themes/dark.css';
@import './size/border.css';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans-cn: 'Noto Sans SC', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

/*
  ---break---
 */

@theme inline {
  --radius-sm: var(--borderRadius-small);
  --radius-md: var(--borderRadius-medium);
  --radius-lg: var(--borderRadius-large);
  --radius-xl: var(--borderRadius-full);
  --color-link: var(--fgColor-default);
  --color-border: var(--borderColor-muted);
  --color-destructive: var(--fgColor-danger);
  --color-muted-foreground: var(--fgColor-muted);
  --color-muted: var(--bgColor-muted);
  --color-secondary-foreground: var(--fgColor-accent-muted);
  --color-secondary: var(--bgColor-accent-muted);
  --color-primary-foreground: var(--fgColor-accent);
  --color-primary: var(--bgColor-accent);
  --color-card-foreground: var(--fgColor-inset);
  --color-card: var(--bgColor-inset);
  --color-foreground: var(--fgColor-default);
  --color-background: var(--bgColor-default);
  --inset-shadow-default: var(--shadow-inset);
}
