---
import { ChevronRight } from 'lucide-react'
import HeroLayout from '../layouts/HeroLayout.astro'
---

<HeroLayout>
  <section>
    <h1 class="mb-8 mt-12 text-center text-3xl">Oops, not found</h1>
    <div class="py-4 text-center">
      <a
        class="inline-flex items-center gap-1 underline decoration-orange-500 underline-offset-2"
        href="/"
        >Go to Home<ChevronRight />
      </a>
    </div>
  </section>
</HeroLayout>
