---
import HeroLayout from '@/layouts/HeroLayout.astro'
import { ChevronRight } from 'lucide-react'
---

<HeroLayout>
  <section>
    <h1 class="mt-12 mb-8 text-center text-3xl">Oops, not found</h1>
    <div class="py-4 text-center">
      <a
        class="inline-flex items-center gap-1 underline decoration-orange-500 underline-offset-2"
        href="/"
        >Go to Home<ChevronRight />
      </a>
    </div>
  </section>
</HeroLayout>
