---
import Footer from '@/components/Footer.astro'
import { Image } from 'astro:assets'
import { IoDocument, IoMail } from 'react-icons/io5'
import Persona from '../assets/persona.jpg'
import BackToTopButton from '../components/BackToTopButton'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Header from '../components/Header.astro'
import LinkButton from '../components/LinkButton.tsx'
import Prose from '../components/Prose.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[80px]">
      <section
        class="mx-auto flex h-80 max-w-3xl flex-col items-center justify-center gap-6 px-4 md:flex-row md:gap-0"
      >
        <Image
          src={Persona}
          alt="Portrait of Zheng Ma"
          class="mx-4 h-60 w-60 rounded-full border-4 border-orange-300 object-cover dark:border-zinc-600"
          layout="constrained"
          priority
        />
        <div class="prose dark:prose-invert m-auto">
          <h1 class="mb-4 text-4xl font-semibold">
            Zheng Ma <span class="font-sans-cn font-semibold">(马 征)</span>
          </h1>
          <p class="text-lg text-gray-600 dark:text-gray-400">
            Mathmatician and Tech Enthusiast
          </p>
        </div>
      </section>
      <Prose className="mx-auto my-12 max-w-3xl px-4">
        <p class="indent-8">
          Welcome to my homepage, I'm a mathematician and tech enthusiast. My
          research interests include computational mathematics and deep learning
          methods. I am particularly interested in the interplay between deep
          learning and mathematics, and how deep learning methods can be applied
          to solve problems in mathematical and engineering.
        </p>
        <LinkButton href="/cv.pdf"><IoDocument />Full CV here</LinkButton>
        <h2
          class="underline decoration-zinc-400 decoration-4 underline-offset-4 dark:decoration-zinc-700"
        >
          Work
        </h2>
        <p>
          <span class="font-semibold">2020 - present</span>: <span
            class="italic">Tenured-track Associate Professor</span
          >, School of Mathematical Sciences, Shanghai Jiao Tong University,
          China
        </p>
        <p>
          <span class="font-semibold">2017 - 2020</span>: <span class="italic"
            >Golomb Visiting Assistant Professor</span
          >, Department of Mathematics, Purdue University, U.S.
        </p>
        <h2
          class="underline decoration-zinc-400 decoration-4 underline-offset-4 dark:decoration-zinc-700"
        >
          Education
        </h2>
        <p>
          <span class="font-semibold">2012 - 2017</span>: Ph.D. in Mathematics,
          Shanghai Jiao Tong University, China
        </p>
        <p>
          <span class="font-semibold">2008 - 2012</span>: B.S. in Mathematics,
          Zhiyuan College, Shanghai Jiao Tong University, China
        </p>
      </Prose>
    </main>
    <BackToTopButton client:idle />
    <LinkButton href="mailto:zhengma@sjtu.edu.cn"
      ><IoMail />Contact me</LinkButton
    >
    <Footer />
  </Body>
</html>
