---
import { PublicationsList } from '@/components/PublicationsList'
import Pubs from '@/db/publications.json'
import PageLayout from '@/layouts/PageLayout.astro'

Pubs.sort((a, b) => {
  // @ts-ignore
  const yearA = (a.issued?.['date-parts']?.[0]?.[0] as number) || 0
  // @ts-ignore
  const yearB = (b.issued?.['date-parts']?.[0]?.[0] as number) || 0
  return yearB - yearA
})
---

<PageLayout>
  <div class="pt-10">
    <section>
      <h1 class="text-center">Publications</h1>
    </section>
    <section class="items-center">
      <PublicationsList publications={Pubs} client:load />
    </section>
  </div>
</PageLayout>
