---
import { PublicationsList } from '../components/PublicationsList'
import Pubs from '../db/publications.json'
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
  <div class="pt-10">
    <section>
      <h1 class="text-center">Publications</h1>
    </section>
    <section class="items-center">
      <PublicationsList publications={Pubs} />
    </section>
  </div>
</PageLayout>
