---
import { ItemList } from '../components/ItemList'
import PageLayout from '../layouts/PageLayout.astro'

const publications = [
  {
    id: 'BINO2025',
    year: 2025,
    title:
      'Bayesian Inversion with Neural Operator (BINO) for modeling subdiffusion: Forward and inverse problems',
    author: 'Yan, Xiong-Bin and Xu, Zhi-Qin John and Ma, Zheng',
    journal: 'Journal of Computational and Applied Mathematics',
    pages: 116191,
    volume: 454,
  },
  {
    id: 'APCON2024',
    year: 2024,
    title:
      'Capturing the diffusive behavior of the multiscale linear transport equations by Asymptotic-Preserving Convolutional DeepONets',
    author: 'Wu, Keke and Yan, Xiong-Bin and Jin, Shi and Ma, Zheng',
    journal: 'Computer Methods in Applied Mechanics and Engineering',
    pages: 116531,
    volume: 418,
  },
  {
    id: 'APNN2024',
    year: 2024,
    title:
      'Asymptotic-Preserving Neural Networks for Multiscale Kinetic Equations',
    author: 'Jin, Shi and Ma, Zheng and Wu, Keke',
    journal: 'Communications in Computational Physics',
    pages: 693,
    volume: 35,
  },
]
---

<PageLayout>
  <div class="pt-10">
    <section>
      <h1 class="text-center">Publications</h1>
    </section>
    <section class="items-center">
      <ItemList publications={publications} />
    </section>
  </div>
</PageLayout>
