---
import { db, Publications } from 'astro:db'
import { PublicationsList } from '../components/PublicationsList'
import PageLayout from '../layouts/PageLayout.astro'

const publications = await db.select().from(Publications)
---

<PageLayout>
  <div class="pt-10">
    <section>
      <h1 class="text-center">Publications</h1>
    </section>
    <section class="items-center">
      <PublicationsList publications={publications} />
    </section>
  </div>
</PageLayout>
