---
import { getCollection } from 'astro:content'
import { ItemList } from '../components/ItemList'
import PageLayout from '../layouts/PageLayout.astro'

const posts = await getCollection('blog')
---

<PageLayout>
  <section class="pt-20">
    <h1 class="text-center">Publications</h1>
  </section>
  <section class="items-center">
    <ItemList posts={posts} />
  </section>
</PageLayout>
