---
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import PageLayout from '@/layouts/PageLayout.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<PageLayout>
  <section class="mt-12">
    <h1 class="text-center">Research Interests</h1>
    <p class="mb-8 indent-4">
      Welcome to my homepage, I'm a mathematician and tech enthusiast. My
      research interests include computational mathematics and deep learning
      methods. I am particularly interested in the interplay between deep
      learning and mathematics, and how deep learning methods can be applied to
      solve problems in mathematical and engineering.
    </p>
  </section>
  <section class="-ml-8 prose-ul:list-none">
    <ul
      class="grid auto-rows-fr grid-cols-1 gap-4 md:grid-cols-2 md:items-stretch"
    >
      {
        posts.map(post => {
          return (
            <li>
              <a href={`/blog/${post.id}/`}>
                <Card className="h-full hover:bg-accent  hover:text-accent-foreground transition-shadow inset-shadow-default flex flex-col">
                  <CardHeader className="flex-1">
                    <CardTitle className="text-xl font-bold">
                      {post.data.title}
                    </CardTitle>
                    <CardDescription className="mt-2 text-base">
                      {post.data.description}
                    </CardDescription>
                  </CardHeader>
                  <CardFooter className="text-muted-foreground font-mono text-sm">
                    {post.data.pubDate.toLocaleDateString('en-US', {
                      year: 'numeric',
                      month: 'long',
                      day: 'numeric',
                    })}
                  </CardFooter>
                </Card>
              </a>
            </li>
          )
        })
      }
    </ul>
  </section>
</PageLayout>
