---
import { ChevronRight } from 'lucide-react'
---

<div class="my-4 flex items-center gap-1">
  <a href="/research" class="underline underline-offset-2">Index</a>
  <ChevronRight className="opacity-50" />
  <span class="font-bold text-primary"><slot /></span>
</div>
