---
const today = new Date()
---

<footer class="mt-4 p-4 text-center text-zinc-500">
  &copy; {today.getFullYear()}
  Inspired <a href={'https://uses.craftz.dog/'}>by Takuya Matsuyama</a>. All
  rights reserved.
</footer>
