---
import { getCollection } from 'astro:content'
import portrait from '../assets/portrait.jpg'
import { DropdownNavMenu } from './DropdownNavMenu'
import { ModeToggle } from './ModeToggle'
import { NavMenu } from './NavigationMenu'

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
const allTags = new Set<string>()

allPosts.forEach(post => {
  post.data.tags?.forEach((tag: string) => {
    allTags.add(tag.toLowerCase())
  })
})

console.log(allTags)

const navLinks = [
  { href: '/research', text: 'Research' },
  { href: '/publications', text: 'Publications' },
  { href: 'https://github.com/mazhengcn', text: 'Github' },
]
---

<header
  class="fixed z-20 w-full p-2 backdrop-blur-md transition-shadow duration-300"
>
  <div class="mx-auto max-w-5xl">
    <nav class="flex items-center gap-3">
      <a href="/" class="group flex flex-auto items-center">
        <img
          src={portrait.src}
          alt="Portrait of Zheng Ma"
          class="h-8 w-8 rounded-full"
        />
        <h2 class="p-2 text-lg font-semibold tracking-tighter">Home</h2>
      </a>
      <div class="hidden items-center md:flex">
        <NavMenu tags={Array.from(allTags)} client:load />
      </div>
      <div class="flex-1"></div>
      <ModeToggle client:load />
      <DropdownNavMenu navLinks={navLinks} className="md:hidden" client:load />
    </nav>
  </div>
</header>
