---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname.replace(/\/$/, '')
---

<a
  href={href}
  class:list={[
    'inline-flex items-center gap-1 no-underline',
    {
      'font-bold underline decoration-primary decoration-3 underline-offset-22':
        isActive,
    },
    className,
  ]}
  {...props}
>
  <slot />
</a>
