---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import PageLayout from './PageLayout.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, heroImage } = Astro.props
---

<PageLayout>
  <div class="mb-8">
    {
      heroImage && (
        <Image
          class="w-full rounded border border-slate-300 dark:border-zinc-700"
          src={heroImage}
          alt="Hero"
          layout="full-width"
          priority
        />
      )
    }
  </div>
  <div class="my-1 text-3xl">{title}</div>
  <div>{description}</div>
  <hr class="border-top border-zinc-400" />
  <slot />
</PageLayout>
