---
import Content from '@/components/Content.astro'
import Masthead from '@/components/Masthead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <Masthead />
  <main class="pt-[56px]">
    <Content>
      <slot />
    </Content>
  </main>
</Layout>
